\DBCatalogosInstitucionales\bin
DBCatalogosInstitucionales\obj
Entities\bin
Entities\obj
LCatalogosInstitucionales\bin
LCatalogosInstitucionales\obj
PCatalogosInstitucionales\bin
PCatalogosInstitucionales\obj
.vs
